<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Food Map</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/bootstrap-grid.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <!-- Link to Firebase -->
    <script src="https://www.gstatic.com/firebasejs/5.10.0/firebase.js"></script>
    <script src="categories.js"></script>
    <style>
        #map {
            height: 100%;
        }

        html,
        body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        #root {
            position: absolute;
            top: 10px;
            left: 200px;
            padding: 15px;
            border-radius: 15px;
            background: rgba(211, 211, 211, 0.75);
        }
    </style>
</head>

<body>
    <div id="map"></div>
    <div id="root">
        <h3>Restaurants in {{area}}:</h3>
        Search: <input id="searchField" type="text" name="search" v-model="search">
        Latitude: <input id="latField" type="text" name="lat" v-model="lat">
        Longitude: <input id="longField" type="text" name="lng" v-model="lng">
        Range:
        <select id="radiusSelect">
            <option value="5">5 mi</option>
            <option value="10">10 mi</option>
            <option value="25">25 mi</option>
        </select>
        <select id="optionSelect">
            <option v-for="option in options" v-text="option"></option>
        </select>
        <button @click="searchButton">Search</button>
        <!-- Displays a window with a bulleted list of restaurants, sorted by distance. -->
        <button>Get List</button>
        <ul>
            <li v-for="name in restaurants" v-text="name"></li>
        </ul>
    </div>

    <script>
        "use strict";
        let app = new Vue
            ({
                el: '#root',
                data:
                {
                    area: "your area",
                    restaurants: [],
                    options: ["category1", "category2", "category3"],
                    lat: 43.083040,
                    lng: -77.6799,
                    radius: 8047,
                    search: "",
                    category: "Afghan"
                },
                methods:
                {
                    searchButton() {
                        this.getData();
                        let searchString = searchField.value.trim();
                        // add punctuation removal here
                        let searchTerms = searchString.split(" ");
                        for (let i = 0; i < searchTerms.length; i++) {
                            let word = searchTerms[i];
                            let path = pathStart + "/" + word;
                            let wordOccurance = 0;
                            // add get wordOccurance value here
                            for (let j = 0; j < termList.length; j++) {
                                if (termList[j].term == word) {
                                    wordOccurance = termList[j].count;
                                }
                            }
                            wordOccurance++;
                            firebase.database().ref(path).set({
                                term: word,
                                count: wordOccurance
                            });
                        }

                        if (navigator.geolocation) {
                            let pos =
                            {
                                lat: Number(app.lat),
                                lng: Number(app.lng)
                            };
                            infoWindow.setPosition(pos);
                        }
                    },
                    getData() {
                        let fetchUrl =
                            "https://people.rit.edu/~jxs2828/330/Projects/Project2/yelp-proxy.php?" +
                            "term=" + this.search +
                            "&lat=" + this.lat +
                            "&lng=" + this.lng +
                            "&rad=" + this.radius +
                            "&cat=" + this.category;

                        let xhr = new XMLHttpRequest();

                        xhr.onprogress = (e) => console.log(`PROGRESS: ${e}`);
                        xhr.onerror = (e) => console.log(`ERROR: ${e}`);
                        xhr.onload = (e) => {
                            let json = JSON.parse(e.target.responseText)
                            console.log(json);
                            createMarkers(json.businesses);
                        }
                        xhr.open("GET", fetchUrl, true);
                        xhr.send();
                    }
                },
                computed:
                {

                }
            });
        // Firebase code here
        let config = {
            apiKey: "AIzaSyDqD6AV81PzwbGdz0q28GTTXQmZXSS656U",
            authDomain: "food-map-1edb8.firebaseapp.com",
            databaseURL: "https://food-map-1edb8.firebaseio.com",
            projectId: "food-map-1edb8",
            storageBucket: "food-map-1edb8.appspot.com",
            messagingSenderId: "335280513115"
        };
        firebase.initializeApp(config);

        const pathStart = "testTerms2";

        firebase.database().ref(pathStart).on("value", dataChanged, firebaseError);

        let termList = [];

        function dataChanged(data) {
            let obj = data.val();
            for (let key in obj) {
                termList.push(obj[key]);
            }
        }

        function firebaseError(error) {
            console.log(error);
        }

        const searchField = document.querySelector("#searchField");
        const searchButton = document.querySelector("#searchBtn");


        // localStorage code here
        const prefix = "foodMap878454554486733";
        const searchKey = prefix + "Search"
        const latKey = prefix + "Lat";
        const longKey = prefix + "Long";
        const storedSearch = localStorage.getItem(searchKey);
        const storedLat = localStorage.getItem(latKey);
        const storedLong = localStorage.getItem(longKey);
        //let searchField = document.querySelector("#searchField");
        let latField = document.querySelector("#latField");
        let longField = document.querySelector("#longField");

        searchField.onchange = e => { localStorage.setItem(searchKey, e.target.value); };
        latField.onchange = e => { localStorage.setItem(latKey, e.target.value); };
        longField.onchange = e => { localStorage.setItem(longKey, e.target.value); };

        if (storedSearch) {
            app.search = storedSearch;
        }
        if (storedLat) {
            app.lat = storedLat;
        }
        if (storedLong) {
            app.lng = storedLong;
        }
        
        document.querySelector("#radiusSelect").onchange = e =>
        {
            let radVal = e.target.value;
            if (radVal > 10)
            {
                app.radius = 40000;
            }
            else
            {
                app.radius = Math.round(radVal * 1609.344);
            }
        };
        
        document.querySelector("#optionSelect").onchange = e =>
        {
            app.category = e.target.value;
        };
        
        let categories = [];
        for (let i = 0; i < yelpList.length; i++)
        {
            for (let ii = 0; ii < yelpList[i].parents.length; ii++)
            {
                if (yelpList[i].parents[ii] == "restaurants")
                {
                    categories.push(yelpList[i].title);
                    break;
                }
            }
        }
        app.options = categories;

        let map, infoWindow;
        function initMap() {
            map = new google.maps.Map(document.querySelector('#map'),
                {
                    center: { lat: 43.083040, lng: -77.6799 },
                    zoom: 16
                });
            infoWindow = new google.maps.InfoWindow;
            // Try HTML5 geolocation.
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    let pos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };
                    app.lat = pos.lat;
                    app.lng = pos.lng;

                    infoWindow.setPosition(pos);
                    infoWindow.setContent('Location found.');
                    infoWindow.open(map);
                    map.setCenter(pos);
                }, function () {
                    handleLocationError(true, infoWindow, map.getCenter());
                });
            }
            else {
                // Browser doesn't support Geolocation
                handleLocationError(false, infoWindow, map.getCenter());
            }
        }

        function handleLocationError(browserHasGeolocation, infoWindow, pos) {
            infoWindow.setPosition(pos);
            infoWindow.setContent(browserHasGeolocation ?
                'Error: The Geolocation service failed.' :
                'Error: Your browser doesn\'t support geolocation.');
            infoWindow.open(map);
        }

        
        let markers = [];
        function createMarkers(data){
            markers = [];
            data.forEach(element => {
                markers.push(new google.maps.Marker({
                    position: {
                        lat: element.coordinates.latitude,
                        lng: element.coordinates.longitude
                    },
                    map: map
                }));
            });
        }
    </script>

    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDgENUDzKECTmBx4CiBxQWocgJiDDhLBWY&callback=initMap">
        </script>

</body>

</html>